:root {
  /* Dette bør være noe som går opp i noe enkelt. Ikke sett noe primtall eller shit */
  --snake_dimentions: 800px;
  --snake_backgroundColor: black;
}
* {
  box-sizing: border-box;
  /* transition: 0.2s; */
}
body,
html {
  margin: 0;
  padding: 0;
  background: lightcoral;
  font-family: "Work Sans", sans-serif;
}
.main-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 56px;
}

.snake-box {
  border-radius: 5px;
  height: var(--snake_dimentions);
  width: var(--snake_dimentions);
  background-color: var(--snake_backgroundColor);
  margin: auto;
  margin-top: 150px;
  position: relative;
}

.snake-square {
  position: absolute;

  height: calc(var(--snake_dimentions) / 20);
  width: calc(var(--snake_dimentions) / 20);

  border: solid 1px var(--snake_backgroundColor);
  border-radius: 3px;
  background-color: red;
}

#snakeHead {
  /* left: calc(400px - var(--snake_dimentions) / 80);
  top: calc(400px - var(--snake_dimentions) / 80); */

  /* left: calc(var(--snake_dimentions) / 5);
  top: calc(var(--snake_dimentions) / 5); */
}
